<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img
                  alt="..."
                  (click)="openImageModal()"
                  [src]="userU!.img"
                  class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-100-px"
                />
              </div>
            </div>
          </div>
          <div class="flex mt-12 gap-3 items-center justify-between py-2">
            <div class="flex flex-col">
              <h3 class="text-xl font-mono">Nombre:</h3>
              <div>
                {{ userU.name + " " + userU.surName }}
              </div>
            </div>
            <div class="flex flex-col">
              <span class="text-xl font-mono">Direccion: </span>
              <div>
                {{ userU.addres }}
              </div>
            </div>
            <div class="flex flex-col">
              <span class="text-xl font-mono">Correo: </span>
              <div>
                {{ userU.email }}
              </div>
            </div>
            <div class="flex flex-col">
              <span class="text-xl font-mono">Genero: </span>
              <div>@if(userU.gender == 1){ Masculino }@else { Femenino }</div>
            </div>
          </div>
          <div class="flex items-center justify-center py-4">
            <button
              (click)="isOpenModal = true"
              class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-3 rounded-lg"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

@if(isOpenModal){
<div
  class="fixed inset-0 z-50 bg-gray-600 bg-opacity-50 flex items-center justify-center overflow-auto py-10"
>
  <div
    class="relative mx-auto p-5 border w-[600px] max-h-[90vh] overflow-y-auto shadow-lg rounded-md bg-white"
  >
    <div class="mt-3 text-center py-4">
      <div class="flex items-center justify-between">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Editar usuario
        </h3>
        <button
          (click)="closeModal()"
          class="bg-red-500 hover:bg-red-700 w-8 h-8 text-white rounded-full"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
      <hr class="h-[1px] bg-slate-200 my-4" />
      <form class="w-full" [formGroup]="userForm">
        <div class="mt-2">
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label
                class="block font-mono text-left text-sm font-medium text-gray-700"
                >Nombre:
              </label>
              <input
                type="text"
                formControlName="name"
                name="name"
                placeholder="-- Campo obligatorio --"
                class="mt-1 block w-full border placeholder:text-center border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="nameFb"></app-validation-error>
            </div>
            <div class="mb-4 w-1/2">
              <label
                class="block font-mono text-sm font-medium text-gray-700 text-left"
                >Apellido:</label
              >
              <input
                type="text"
                formControlName="surName"
                name="surName"
                placeholder="-- Campo obligatorio --"
                class="mt-1 block w-full border placeholder:text-center border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error
                [control]="surNameFb"
              ></app-validation-error>
            </div>
          </div>

          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label
                class="block font-mono text-sm font-medium text-gray-700 text-left"
                >Email:</label
              >
              <input
                type="email"
                formControlName="email"
                name="email"
                placeholder="-- Campo obligatorio --"
                class="mt-1 block w-full border placeholder:text-center border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="emailFb"></app-validation-error>
            </div>
            <div class="mb-4 w-1/2">
              <label
                class="block font-mono text-sm font-medium text-gray-700 text-left"
                >Direccion:</label
              >
              <input
                type="addres"
                formControlName="addres"
                name="addres"
                placeholder="-- Campo obligatorio --"
                class="mt-1 block w-full border placeholder:text-center border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="addresFb"></app-validation-error>
            </div>
          </div>
        </div>

        <div class="mt-4 flex items-center justify-end gap-4">
          <app-button-form
            [text]="'Guardar'"
            [icon]="faSave"
            [styleClass]="'bg-green-600 text-white rounded-lg py-2 px-3'"
            (click)="saveUser()"
          ></app-button-form>
          <app-button-form
            [text]="'Cerrar'"
            [icon]="faTimes"
            [styleClass]="'bg-red-600 text-white rounded-lg py-2 px-3'"
            (click)="closeModal()"
          ></app-button-form>
        </div>
      </form>
    </div>
  </div>
</div>

} @if(isOpenImageModal){
<div
  class="fixed inset-0 z-50 bg-gray-600 bg-opacity-50 flex items-center justify-center overflow-auto py-10"
>
  <div
    class="relative top-20 mx-auto p-5 border w-[450px] shadow-lg rounded-md bg-white"
    (click)="$event.stopPropagation()"
  >
    <div class="mt-3 text-center">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
       Actualizar imagen de perfil
      </h3>
      <div class="mt-2 px-7 py-3">
        <input type="file" (change)="captureImg($event)" />
      </div>

      <!-- Vista previa de la imagen -->
      <div *ngIf="preview" class="mt-3 ">
        <img
          [src]="preview"
          alt="Vista previa de la imagen"
          class="rounded-md w-20 h-20 mx-auto"
        />
      </div>

      <!-- Mensaje de error si la imagen no es válida -->
      <div *ngIf="!isValidImage" class="mt-2 text-red-600">
        Por favor ingrese un archivo de tipo imagen.
      </div>

      <div class=" flex justify-between items-center px-4 py-3 gap-3">
        <button
          (click)="uploadImage()"
          class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-600"
        >
          Actualizar
        </button>
        <button
          (click)="closeModal()"
          class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
}
