@if(isLoading){
<app-loader></app-loader>
} @else {
<section class="mt-3">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold capitalize">Inventario</h2>
    <a
      routerLink="/admin/inventoryControl"
      class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-md transition-colors"
    >
      <fa-icon [icon]="faPlus"></fa-icon> Agregar pedido
    </a>
  </div>
  <div class="mt-3">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="capitalize text-md font-semibold">Inventario</h2>
      </div>
      <div>
        <label class="capitalize text-md font-semibold" for="">Buscar: </label>
        <input
          class="border border-slate-100 py-2 px-3 rounded-lg"
          type="search"
        />
      </div>
    </div>
    <div class="container px-1 mx-auto mt-3 pb-4">
      <div class="flex flex-col">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
          >
            <div class="container mx-auto">
              <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
              >
                @for (inventory of inventories; track $index) {
                <div
                  class="bg-white shadow-lg shadow-black rounded-lg overflow-hidden flex flex-col"
                >
                  <img
                    class="w-full h-48 object-cover shadow-sm shadow-black"
                    [src]="inventory.product.img"
                    alt="Image"
                  />
                  <div class="flex flex-col justify-between flex-grow p-6">
                    <div>
                      <h2
                        class="text-xl font-bold text-green-800 font-serif capitalize"
                      >
                        {{ inventory.product.name }}
                      </h2>
                      <p
                        class="text-gray-600 mt-2 capitalize tracking-wide text-justify"
                      >
                        {{ inventory.product.description }}
                      </p>
                    </div>
                    <div
                      [ngClass]="{
                        'bg-red-500': inventory.stock < 20,
                        'bg-yellow-500':
                          inventory.stock >= 20 && inventory.stock < 40,
                        'bg-green-500': inventory.stock >= 40
                      }"
                      class="mt-4 py-2 px-3 rounded-lg"
                    >
                      <span
                        class="lining-nums text-center text-white text-lg block"
                        >{{ inventory.stock }} unidades</span
                      >
                    </div>
                    <div class="mt-4">
                      <div class="container mx-auto px-4">
                        <div class="mb-4">
                          <label
                            for="stock-{{ inventory.id }}"
                            class="block text-sm font-medium text-gray-700"
                          >
                            Nuevo Stock
                          </label>
                          <input
                            type="number"
                            id="stock-{{ inventory.id }}"
                            [(ngModel)]="stockValues[inventory.id]"
                            min="1"
                            required
                            class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                            placeholder="Ingrese cantidad de stock"
                          />
                        </div>
                      </div>

                      <div class="flex items-center justify-between">
                        <button
                          (click)="updateStock(inventory.id)"
                          [disabled]="
                            !stockValues[inventory.id] ||
                            stockValues[inventory.id] < 1
                          "
                          class="px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 disabled:opacity-50"
                        >
                          Actualizar Stock
                        </button>
                        <button (click)="updateStatus(inventory.id)" class="px-4 py-2 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 disabled:opacity-50"
                        >
                          Quitar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- @if(isModalOpen)
    {
      <app-detailed-product-modal
      [isLoading]="isLoading"
      (save)="saveDetailedProduct($event)"
      [detailedProduct]="selectDetailedProduct ?? {}"
      (close)="closeModal()"
      >
  
      </app-detailed-product-modal>
    } -->

}
