<div class="mt-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 py-4">
    <app-card
      [title]="'Producto'"
      [icon]="faBox"
      [color]="'green'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="aCategory"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
    <app-card
      [title]="'Categoría'"
      [icon]="faBox"
      [color]="'red'"
      [description]="'Hola'"
      [amount]="12"
    >
    </app-card>
  </div>
</div>
