@if (isLoadings) {
  <app-loader></app-loader>
}
  <div
  class="fixed inset-0 z-40 bg-gray-600 bg-opacity-50 flex items-center justify-center"
>
  <div
    class="relative mx-auto p-5 border w-[600px] shadow-lg rounded-md bg-white"
  >
    <div class="mt-3 text-center">
      <div class="flex items-center justify-between">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {{
            provider.id ? "Editar Proveedor" : "Nuevo Proveedor"
          }}
        </h3>
        <button
          (click)="closeModal()"
          class="bg-red-500 hover:bg-red-700 w-7 border text-white  rounded-full"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
      @if(!provider.id){
        <hr class="h-[1px] bg-slate-200 my-4" />
        <div class="flex items-center justify-between gap-3">
          <input [(ngModel)]="rucInput" type="text" class="w-2/3 border border-slate-400 py-2 px-3 rounded-lg placeholder:text-center" placeholder="-- Ingrese su RUC --">
          <button (click)="buscarRUC()" class="w-1/3 bg-blue-500 hover:bg-blue-700 text-white font-mono py-2 px-3 rounded-lg">Buscar</button>
        </div>
      }
      <hr class="h-[1px] bg-slate-200 my-4" />
      <form class="w-full" [formGroup]="providerForm">
        <div class="mt-2">
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-left font-mono text-sm font-medium text-gray-700"
                >RUC:
              </label>
              <input
                type="text"
                formControlName="ruc"
                name="ruc"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="rucFb">
              </app-validation-error>
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-mono font-medium text-gray-700 text-left"
                >Nombre:</label
              >
              <input
                type="text"
                formControlName="name"
                name="name"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="nameFb">
              </app-validation-error>
            </div>
          </div>
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-left font-mono text-sm font-medium text-gray-700"
                >Telefono:
              </label>
              <input
                type="text"
                formControlName="phone"
                name="phone"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="phoneFb">
              </app-validation-error>
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-mono font-medium text-gray-700 text-left"
                >Email:</label
              >
              <input
                type="email"
                formControlName="email"
                name="email"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="emailFb">
              </app-validation-error>
            </div>
          </div>
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-mono font-medium text-gray-700 text-left"
                >Dirección:</label
              >
              <input
                type="text"
                formControlName="address"
                name="address"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="addressFb">
              </app-validation-error>
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-mono font-medium text-gray-700 text-left"
                >Razon:</label
              >
              <input
                type="text"
                formControlName="reason"
                name="reason"
                placeholder="-- Campo obligatorio --"
                class="focus:outline-none mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
              <app-validation-error [control]="reasonFb">
              </app-validation-error>
            </div>
          </div>
          
        </div>

        <div class="mt-4 flex items-center justify-end gap-4">
          <app-button-form
          [text]="'Guardar'"
          [icon]="faSave"
          [styleClass]="'bg-green-600 text-white rounded-lg py-2 px-3'"
          (click)="saveProvider()"
          ></app-button-form>
          <app-button-form
          [text]="'Cancelar'"
          [icon]="faTimes"
          [styleClass]="'bg-red-600 text-white rounded-lg py-2 px-3'"
          (click)="closeModal()"
          ></app-button-form>
        </div>
      </form>
    </div>
  </div>
</div>

