<div
  class="fixed inset-0 z-50 bg-gray-600 bg-opacity-50 flex items-center justify-center"
>
  <div
    class="relative mx-auto p-5 border w-[600px] shadow-lg rounded-md bg-white"
  >
    <div class="mt-3 text-center">
      <div class="flex items-center justify-between">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {{
            provider.id ? "Editar Tipo de Producto" : "Nuevo Tipo de Producto"
          }}
        </h3>
        <button
          (click)="closeModal()"
          class="text-gray-500 hover:text-gray-700 w-7 border border-slate-500 rounded-full"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
      <hr class="h-[1px] bg-slate-200 my-4" />
      <form class="w-full" (ngSubmit)="saveProvider()">
        <div class="mt-2">
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-left text-sm font-medium text-gray-700"
                >RUC:
              </label>
              <input
                type="text"
                [(ngModel)]="provider.ruc"
                name="ruc"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-medium text-gray-700 text-left"
                >Nombre:</label
              >
              <input
                type="text"
                [(ngModel)]="provider.name"
                name="name"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
          </div>
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-left text-sm font-medium text-gray-700"
                >Telefono:
              </label>
              <input
                type="text"
                [(ngModel)]="provider.phone"
                name="phone"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-medium text-gray-700 text-left"
                >Email:</label
              >
              <input
                type="email"
                [(ngModel)]="provider.email"
                name="email"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
          </div>
          <div class="flex w-full items-center justify-between gap-4">
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-medium text-gray-700 text-left"
                >Dirección:</label
              >
              <input
                type="text"
                [(ngModel)]="provider.address"
                name="address"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
            <div class="mb-4 w-1/2">
              <label class="block text-sm font-medium text-gray-700 text-left"
                >Razon:</label
              >
              <input
                type="text"
                [(ngModel)]="provider.reason"
                name="reason"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2"
              />
            </div>
          </div>
          
        </div>

        <div class="mt-4 flex items-center justify-end gap-4">
          <button
            class="bg-green-600 text-white rounded-lg py-2 px-3"
            type="submit"
          >
            Guardar
          </button>
          <button
            class="bg-red-600 text-white rounded-lg py-2 px-3"
            type="button"
            (click)="closeModal()"
          >
            Cerrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
