<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
  <div
    class="container px-4 mx-auto flex items-center justify-between"
  >
    <div class="w-full relative flex justify-between items-center">
      <a
        [routerLink]="['/']"
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="#pablo"
      >
        Notus Angular
      </a>
    </div>
    <ul class="flex list-none items-center justify-end">
      <li class="flex items-center">
        <a
          class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          routerLink="auth/login"
        >
          <i class="fas fa-arrow-alt-circle-down"></i> Login
        </a>
      </li>
    </ul>
  </div>
</nav>
